.botonAzul{
    width: 100px; background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
}

.botonVerde{
    width: 100px; background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
}
